# Module

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

# Month begin stockprice by ticker

In [2]:
ticker_usd = ['^GSPC', 'NDX', 'SCHD', 'O', 'SBUX', 'GOOG', 'MSFT']
result=yf.download(ticker_usd,start = '2020-01-01')
result.columns = ['_'.join(c) for c in result.columns]
result = result.reset_index()
result['Date'] = result['Date'].dt.strftime('%Y-%m-%d')
result['Date'] = pd.to_datetime(result['Date'])

remain_cols = []
for t in ticker_usd:
    remain_cols.append(f"Close_{t}")

result = result[['Date']+remain_cols]
result = result.dropna()
result['month_start'] = result['Date'] + pd.offsets.MonthEnd(0) + pd.Timedelta(days=1)
result = result.drop_duplicates(subset='month_start', keep='last')
result.rename(columns=dict(zip([c for c in result.columns if 'Close_' in c], ticker_usd)), inplace=True)
result.rename(columns={'Date':'Date_USD'}, inplace=True)
df_usd = result.copy()
df_usd

[*********************100%***********************]  7 of 7 completed

,Date_USD,^GSPC,NDX,SCHD,O,SBUX,GOOG,MSFT,month_start
39,2020-02-28,2954.219971,8461.830078,17.193333,70.145348,78.430000,66.966499,162.009995,2020-03-01
61,2020-03-31,2584.590088,7813.500000,14.993333,48.313953,65.739998,58.140499,157.710007,2020-04-01
82,2020-04-30,2912.429932,9000.509766,16.883333,53.217052,76.730003,67.432999,179.210007,2020-05-01
102,2020-05-29,3044.310059,9555.519531,17.506666,53.594959,77.989998,71.445999,183.250000,2020-06-01
124,2020-06-30,3100.290039,10156.849609,17.250000,57.655041,73.589996,70.680496,203.509995,2020-07-01
146,2020-07-31,3271.120117,10905.879883,18.163334,58.187984,76.529999,74.148003,205.009995,2020-08-01
167,2020-08-31,3500.310059,12110.700195,19.093332,60.106590,84.470001,81.709000,225.529999,2020-09-01
188,2020-09-30,3363.000000,11418.059570,18.433332,58.866280,85.919998,73.480003,210.330002,2020-10-01
210,2020-10-30,3269.959961,11052.950195,18.503332,56.065891,86.959999,81.050499,202.470001,2020-11-01
230,2020-11-30,3621.629883,12268.320312,20.940001,58.110466,98.019997,88.037003,214.070007,2020-12-01
252,2020-12-31,3756.070068,12888.280273,21.379999,60.242249,106.980003,87.594002,222.419998,2021-01-01
271,2021-01-29,3714.239990,12925.379883,21.186666,57.228683,96.809998,91.787003,231.960007,2021-02-01
290,2021-02-26,3811.149902,12909.440430,22.469999,58.391472,108.029999,101.843002,232.380005,2021-03-01
313,2021-03-31,3972.889893,13091.440430,24.306667,61.531010,109.269997,103.431503,235.770004,2021-04-01
334,2021-04-30,4181.169922,13860.759766,24.843332,67.005814,114.489998,120.505997,252.179993,2021-05-01
354,2021-05-28,4204.109863,13686.509766,25.643333,66.279068,113.879997,120.578003,249.679993,2021-06-01
376,2021-06-30,4297.500000,14554.799805,25.206667,64.670540,111.809998,125.316002,270.899994,2021-07-01
397,2021-07-30,4395.259766,14959.900391,25.370001,68.110466,121.430000,135.220993,284.910004,2021-08-01
419,2021-08-31,4522.680176,15582.509766,25.900000,69.980621,117.489998,145.462006,301.880005,2021-09-01
440,2021-09-30,4307.540039,14689.620117,24.746668,62.848839,110.309998,133.265503,281.920013,2021-10-01
461,2021-10-29,4605.379883,15850.469727,25.836666,69.215118,106.070000,148.270493,331.619995,2021-11-01
482,2021-11-30,4567.000000,16135.919922,25.306667,67.919998,109.639999,142.451996,330.589996,2021-12-01
504,2021-12-31,4766.180176,16320.080078,26.943333,71.589996,116.970001,144.679504,336.320007,2022-01-01
524,2022-01-31,4515.549805,14930.049805,26.206667,69.410004,98.320000,135.698502,310.980011,2022-02-01
543,2022-02-28,4373.939941,14237.809570,25.700001,66.089996,91.790001,134.891006,298.790009,2022-03-01
566,2022-03-31,4530.410156,14838.490234,26.296667,69.300003,90.970001,139.649506,308.309998,2022-04-01
586,2022-04-29,4131.930176,12854.799805,25.213333,69.360001,74.639999,114.966499,277.519989,2022-05-01
607,2022-05-31,4132.149902,12642.099609,26.196667,68.220001,78.500000,114.039001,271.869995,2022-06-01
628,2022-06-30,3785.379883,11503.719727,23.876667,68.260002,76.389999,109.372498,256.829987,2022-07-01
648,2022-07-29,4130.290039,12947.969727,24.809999,73.989998,84.779999,116.639999,280.739990,2022-08-01
671,2022-08-31,3955.000000,12272.030273,24.133333,68.279999,84.070000,109.150002,261.470001,2022-09-01
692,2022-09-30,3585.620117,10971.219727,22.143333,58.200001,84.260002,96.150002,232.899994,2022-10-01
713,2022-10-31,3871.979980,11405.570312,24.626667,62.270000,86.589996,94.660004,232.130005,2022-11-01
734,2022-11-30,4080.110107,12030.059570,26.309999,63.070000,102.199997,101.449997,255.139999,2022-12-01
755,2022-12-30,3839.500000,10939.759766,25.180000,63.430000,99.199997,88.730003,239.820007,2023-01-01
775,2023-01-31,4076.600098,12101.929688,25.703333,67.830002,109.139999,99.870003,247.809998,2023-02-01
794,2023-02-28,3970.149902,12042.120117,24.850000,63.950001,102.089996,90.300003,249.419998,2023-03-01
817,2023-03-31,4109.310059,13181.349609,24.386667,63.320000,104.129997,104.000000,288.299988,2023-04-01
836,2023-04-28,4169.479980,13245.990234,24.190001,62.840000,114.290001,108.220001,307.260010,2023-05-01
858,2023-05-31,4179.830078,14254.089844,23.196667,59.439999,97.639999,123.370003,328.390015,2023-06-01
879,2023-06-30,4450.379883,15179.209961,24.206667,59.790001,99.059998,120.970001,340.540009,2023-07-01
899,2023-07-31,4588.959961,15757.000000,25.219999,60.970001,101.570000,133.110001,335.920013,2023-08-01
922,2023-08-31,4507.660156,15501.070312,24.843332,56.040001,97.440002,137.350006,327.760010,2023-09-01
942,2023-09-29,4288.049805,14715.240234,23.586666,49.939999,91.269997,131.850006,315.750000,2023-10-01
964,2023-10-31,4193.799805,14409.780273,22.686666,47.380001,92.239998,125.300003,338.109985,2023-11-01
985,2023-11-30,4567.799805,15947.870117,24.116667,53.959999,99.300003,133.919998,378.910004,2023-12-01
1005,2023-12-29,4769.830078,16825.929688,25.376667,57.419998,96.010002,140.929993,376.040009,2024-01-01
1026,2024-01-31,4845.649902,17137.240234,25.413334,54.389999,93.029999,141.800003,397.579987,2024-02-01
1046,2024-02-29,5096.270020,18043.849609,25.879999,52.110001,94.900002,139.779999,413.640015,2024-03-01
1066,2024-03-28,5254.350098,18254.689453,26.876667,54.099998,91.389999,152.259995,420.720001,2024-04-01
1088,2024-04-30,5035.689941,17440.689453,25.663334,53.540001,88.489998,164.639999,389.329987,2024-05-01
1110,2024-05-31,5277.509766,18536.650391,26.190001,53.060001,80.220001,173.960007,415.130005,2024-06-01
1129,2024-06-28,5460.479980,19682.869141,25.920000,52.820000,77.849998,183.419998,446.950012,2024-07-01
1151,2024-07-31,5522.299805,19362.429688,27.526667,57.430000,77.949997,173.149994,418.350006,2024-08-01
1173,2024-08-30,5648.399902,19574.640625,28.176666,62.110001,94.570000,165.110001,417.140015,2024-09-01
1193,2024-09-30,5762.479980,20060.689453,28.176666,63.419998,97.489998,167.190002,430.299988,2024-10-01
1216,2024-10-31,5705.450195,19890.419922,28.230000,59.369999,97.699997,172.690002,406.350006,2024-11-01
1236,2024-11-29,6032.379883,20930.369141,29.530001,57.889999,102.459999,170.490005,423.459991,2024-12-01
1240,2024-12-05,6075.109863,21425.220703,28.950001,56.060001,99.230003,174.309998,442.619995,2025-01-01

In [3]:
result[result['Date_USD'].dt.month.isin([8,9])].to_excel("9month_stock.xlsx")

In [4]:
ticker_ko = ['^KS11', 'USDKRW=X']
result=yf.download(ticker_ko,start = '2023-11-01')
result
result.columns = ['_'.join(c) for c in result.columns]
result = result.reset_index()
result['Date'] = result['Date'].dt.strftime('%Y-%m-%d')
result['Date'] = pd.to_datetime(result['Date'])

remain_cols = []
for t in ticker_ko:
    remain_cols.append(f"Close_{t}")

result = result[['Date']+remain_cols]
result = result.dropna()
result['month_start'] = result['Date'] + pd.offsets.MonthBegin(0)
result = result.drop_duplicates(subset='month_start', keep='last')
result.rename(columns=dict(zip([c for c in result.columns if 'Close_' in c], ticker_ko)), inplace=True)
result.rename(columns={'Date':'Date_ko'}, inplace=True)
df_korea = result.copy()
df_korea

[*********************100%***********************]  2 of 2 completed

       Date_ko        ^KS11     USDKRW=X month_start
0   2023-11-01  2301.560059  1350.160034  2023-11-01
22  2023-12-01  2505.010010  1296.660034  2023-12-01
41  2023-12-28  2655.280029  1294.760010  2024-01-01
66  2024-02-01  2542.459961  1333.910034  2024-02-01
86  2024-02-29  2642.360107  1333.380005  2024-03-01
108 2024-04-01  2747.860107  1345.310059  2024-04-01
129 2024-04-30  2692.060059  1374.640015  2024-05-01
152 2024-05-31  2636.520020  1375.619995  2024-06-01
173 2024-07-01  2804.310059  1380.290039  2024-07-01
196 2024-08-01  2777.679932  1367.920044  2024-08-01
217 2024-08-30  2674.310059  1332.880005  2024-09-01
238 2024-09-30  2593.270020  1309.300049  2024-10-01
262 2024-11-01  2542.360107  1372.930054  2024-11-01
282 2024-11-29  2455.909912  1393.300049  2024-12-01
287 2024-12-06  2428.159912  1399.989990  2025-01-01

In [5]:
df = pd.merge(df_korea, df_usd, on='month_start')

In [6]:
ticker = ticker_ko + ticker_usd
display(ticker)
stock = ['KOSPI', 'USDKRW', 'S&P500', 'NASDAQ100', 'SCHD', 'O', 'SBUX']
df = df[['Date_ko', 'Date_USD', 'month_start']+ticker]
df.rename(columns=dict(zip(ticker, stock)), inplace=True)
df = df.round(1)

['^KS11', 'USDKRW=X', '^GSPC', 'NDX', 'SCHD', 'O', 'SBUX', 'GOOG', 'MSFT']

In [7]:
df.to_excel("241201.xlsx")

# MDD, YTD

In [8]:
ticker_usd = ['^KS11', '^GSPC', 'NDX', 'SCHD', 'O', 'SBUX', 'GOOG', 'MSFT']

In [9]:
result=yf.download(ticker_usd,start = '2022-12-01')
result.columns = ['_'.join(c) for c in result.columns]
result = result.reset_index()
result['Date'] = result['Date'].dt.strftime('%Y-%m-%d')
result['Date'] = pd.to_datetime(result['Date'])

remain_cols = []
for t in ticker_usd:
    remain_cols.append(f"Close_{t}")

result = result[['Date']+remain_cols]
# result = result.dropna()
for c in result.columns:
    result[c] = result[c].fillna(method='ffill')

result.rename(columns=dict(zip([c for c in result.columns if 'Close_' in c], ticker_usd)), inplace=True)
result.rename(columns={"^KS11": "KOSPI",'^GSPC':'S&P500', 'NDX':'NASDAQ100'}, inplace=True)

[*********************100%***********************]  8 of 8 completed

In [10]:
df_mdd = pd.concat([result[result['Date']=='2023-12-29'].iloc[:, 1:].T,  pd.DataFrame(result.iloc[:,1:].max()), pd.DataFrame(result.iloc[-1,1:])], axis=1)
df_mdd.columns = ['2024Begin', 'max_price', 'price']
df_mdd['mdd'] = df_mdd.apply(lambda x: np.round((x['price']/x['max_price']-1)*100, 1), axis=1)
df_mdd['YTD'] = df_mdd.apply(lambda x: (x['price']/x['2024Begin']-1)*100, axis=1)

for c in df_mdd.columns:
    df_mdd[c] = pd.to_numeric(df_mdd[c])
    df_mdd[c] = df_mdd[c].round(1)
df_mdd.reset_index().rename(columns={'index':'stock'})

       stock  2024Begin  max_price    price   mdd   YTD
0      KOSPI     2655.3     2891.4   2428.2 -16.0  -8.6
1     S&P500     4769.8     6090.3   6090.3   0.0  27.7
2  NASDAQ100    16825.9    21492.4  21425.2  -0.3  27.3
3       SCHD       25.4       29.5     28.8  -2.4  13.6
4          O       57.4       68.3     56.2 -17.8  -2.2
5       SBUX       96.0      114.6    100.1 -12.6   4.3
6       GOOG      140.9      192.7    176.5  -8.4  25.2
7       MSFT      376.0      467.6    443.6  -5.1  18.0

In [12]:
with pd.ExcelWriter("marketprice.xlsx", engine='xlsxwriter') as writer:
    df.to_excel(writer, sheet_name='price', index=False)
    df_mdd.to_excel(writer, sheet_name='mdd_ytd_price', index=False)

# stockprice by Monthly

In [28]:
ticker_usd = ['^GSPC', 'NDX']
result=yf.download(ticker_usd,start = '2020-01-01')
result.columns = ['_'.join(c) for c in result.columns]
result = result.reset_index()
result['Date'] = result['Date'].dt.strftime('%Y-%m-%d')
result['Date'] = pd.to_datetime(result['Date'])

[*********************100%***********************]  2 of 2 completed

In [29]:
result

,Date,Adj Close_NDX,Adj Close_^GSPC,Close_NDX,Close_^GSPC,High_NDX,High_^GSPC,Low_NDX,Low_^GSPC,Open_NDX,Open_^GSPC,Volume_NDX,Volume_^GSPC
0,2020-01-02,NaN,3257.850098,NaN,3257.850098,NaN,3258.139893,NaN,3235.530029,NaN,3244.669922,NaN,3459930000
1,2020-01-03,NaN,3234.850098,NaN,3234.850098,NaN,3246.149902,NaN,3222.340088,NaN,3226.360107,NaN,3484700000
2,2020-01-06,NaN,3246.280029,NaN,3246.280029,NaN,3246.840088,NaN,3214.639893,NaN,3217.550049,NaN,3702460000
3,2020-01-07,NaN,3237.179932,NaN,3237.179932,NaN,3244.909912,NaN,3232.429932,NaN,3241.860107,NaN,3435910000
4,2020-01-08,NaN,3253.050049,NaN,3253.050049,NaN,3267.070068,NaN,3236.669922,NaN,3238.590088,NaN,3726840000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,2024-10-31,19890.419922,5705.450195,19890.419922,5705.450195,19890.419922,5775.339844,19890.419922,5702.859863,19890.419922,5775.339844,0.0,4425660000
1217,2024-11-01,20033.140625,5728.799805,20033.140625,5728.799805,20033.140625,5772.520020,20033.140625,5723.220215,20033.140625,5723.220215,0.0,3796450000
1218,2024-11-04,19963.599609,5712.689941,19963.599609,5712.689941,19963.599609,5741.430176,19963.599609,5696.509766,19963.599609,5725.149902,0.0,3602060000
1219,2024-11-05,NaN,5782.759766,NaN,5782.759766,NaN,5783.439941,NaN,5722.100098,NaN,5722.430176,NaN,3768310000
1220,2024-11-06,NaN,5891.629883,NaN,5891.629883,NaN,5907.109863,NaN,5864.890137,NaN,5864.890137,NaN,1556985000

In [ ]:
result